@model Homepage

@{
    ViewBag.Title = "Index";
}
    <div class="slider_home">
        @foreach (var slide in Model.Slides)
        {
            <div class="single_slider slide_bg_2" style="background-image:url('/Uploads/@slide.Photo')">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-xs-12">
                                    <h2><span class="slide_st1">@slide.Title</span></h2>
                                    <p>@slide.Desc</p>
                                    @if (!string.IsNullOrEmpty(slide.BtnText))
                                    {
                                        <div class="slider_btn">
                                            <a href="@slide.BtnUrl" class="more-link slider_btn_one">@slide.BtnText</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


<!-- Start: Promo Section
==================================================-->
<div class="promo-area">
    <div class="container">
        <div class="promo-container">
            <div class="row">
                @foreach (var prm in Model.Promos)
                {
                    <div class="col-md-4 col-sm-4 ">
                        <div class="promo-wrap">
                            <div class="promo-icon">
                                <img src="~/Uploads/@prm.Icon" alt="@prm.Name">
                            </div>
                            <div class="promo-content">
                                <h4>@prm.Name</h4>
                                <p>@prm.Desc</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End: Promo Section
==================================================-->

@{
    Html.RenderPartial("~/Views/Shared/_AboutText.cshtml", model: Model.AboutText);
    
}
@{ 
    Html.RenderPartial("~/Views/Shared/_TeamMembers.cshtml", model: Model.Members);
}

@{
    Html.RenderPartial("~/Views/Shared/_ServicesList.cshtml", model: Model.Services);
}
<!-- Start: Work Section
==================================================-->
<section class="work-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Our latest <span class="ylow_clr">Projects</span></h3>
        </div>
        <!-- End:  heading -->
        <div class="section_btn">
            <a href="gallery.html" class="more-link">More Work</a>
        </div>
        <!-- Start: Work filter -->

        <ul class="projects-titles">
            <li class="active" data-filter="*">
                <span>all work</span>
            </li>
            @foreach (var category in Model.Categories)
            {
                <li data-filter=".@category.Name.Replace(' ', '-').ToLower()">
                    <span>@category.Name</span>
                </li>
            }

          
        </ul>
       
        <div class="row projects-list">
            @foreach (var project in Model.Projects)
            {
                <div class="col-md-4 col-xs-12 @project.Category.Name.Replace(' ', '-').ToLower()">
                    <div class="single-project-item" style=" background-image:url(Uploads/@project.Photo)" >
                        <div class="project-hover">
                            <div class="project_cnt">
                                <a class="project-link" href="~/Uploads/@project.Photo"><i class="icon-glyph-26"></i></a>
                                <h6><a href="gallery.html">@project.Name</a></h6>
                                <span><a href="single-gallery.html">category : @project.Category.Name</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

@{
    Html.RenderPartial("~/Views/Shared/_Testimonial.cshtml", model: Model.Clients);
}

@{
    Html.RenderPartial("~/Views/Shared/_PriceList.cshtml", model:Model.Packages);
}
<!-- Start: Our Blog Section
==================================================-->
<section class="blog-section">
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Latest <span class="ylow_clr"> News </span> </h3>
         
        </div>
        <!-- End: Heading -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme" id="blog_carousel">
                   
                        @foreach (var blog in Model.Blogs)
                        {
                        <div class="item">

                            @{
                                Html.RenderPartial("~/Views/Shared/_BlogItem.cshtml", model: blog);
                            }

                        </div>
                        }
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /. row -->
    </div>
    <!-- /. container -->
    @{
        Html.RenderPartial("~/Views/Shared/_Partners.cshtml", model:Model.Partners);
    }
</section>
